

.login-container {
  max-width: 350px; 
  margin: auto;
  text-align: center;
  padding: 20px;
}

mat-tab{

  color: #b9d219;

}

::ng-deep .mat-tab-label-active {
  color: red !important; /* Altere para a cor desejada */
}


p {
  color: #fff;
}

mat-card {
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(228, 217, 217, 0.3);
}

mat-card-title{

  color:#b9d219;
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}




mat-form-field input {
  color: #e2e2e2;

}

mat-card-actions {
  display: flex;
  justify-content: center;
  gap: 15px;
}

button.mat-raised-button {
  width: 100%;
  padding: 12px;
  color: #b9d219;
}

button.mat-raised-button[color="primary"] {
  background-color: #000;
  color: #b9d219;
}

button.mat-raised-button:hover {
  opacity: 0.85;
}

