

    <div class="container">
        <mat-card>
            <mat-card-title>Login</mat-card-title>
            <mat-card-content>
                <p>Digite suas credenciais para acessar a plataforma.</p>
            </mat-card-content>
        </mat-card>
    </div>


<main>
    <div>
        <mat-card>
            <mat-card-title>Acesso ao Sistema</mat-card-title>
            <mat-card-content>
                <mat-tab-group [(selectedIndex)]="selectedTabIndex">
                    <!-- Aba do Aluno -->
                    <mat-tab label="Login de Aluno">
                        <form [formGroup]="loginFormAluno">
                            <mat-form-field appearance="fill">
                                <mat-label>Email</mat-label>
                                <input matInput type="email" formControlName="email" placeholder="Digite seu e-mail">
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Senha</mat-label>
                                <input matInput type="password" formControlName="senha" placeholder="Digite sua senha">
                            </mat-form-field>
                        </form>
                    </mat-tab>

                    <!-- Aba do Professor -->
                    <mat-tab label="Login de Professor">
                        <form [formGroup]="loginFormProfessor">
                            <mat-form-field appearance="fill">
                                <mat-label>Email</mat-label>
                                <input matInput type="email" formControlName="email" placeholder="Digite seu e-mail">
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Senha</mat-label>
                                <input matInput type="password" formControlName="senha" placeholder="Digite sua senha">
                            </mat-form-field>
                        </form>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>

            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="fazerLogin()">Entrar</button>
            </mat-card-actions>

            <p class="cadastro-msg">
                Ainda não tem uma conta? <a mat-button color="accent" (click)="irParaCadastro()">Faça seu <strong>cadastro</strong></a>.
            </p>
        </mat-card>
    </div>
</main>