
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meu Aplicativo Angular</title>
</head>
<body>

  <header>
    <h1>Bem-vindo ao Meu App Angular</h1>
  </header>

  <nav>
    <a routerLink="/">Início</a> |
    <a routerLink="/sobre">Sobre</a>
  </nav>

  <main>
    <!-- Aqui será renderizado o conteúdo das rotas -->
    <router-outlet></router-outlet>

    
  </main>

  <footer>
    <p>&copy; 2025 Meu Aplicativo</p>
  </footer>

</body>
</html>
